@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

.body {
	font-family: 'Montserrat', sans-serif;
}

.section-heading {
	color: #f96f00;
	font-size: 1.5rem;
	font-weight: 400;
}
/* header */
.jumbotron-custom {
	background-image: url('../images/Rectangle\ 112.png');
	height: 100vh;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	/* z-index: -1; */
	/* display: flex; */
}

.header-text {
	color: #ffffff;
	display: flex;
	justify-content: center;
}

.header-text h1 {
	padding-top: 30%;
	text-align: center;
}
/*navbar*/
.navbar custom .nav-link {
	color: #ffffff;
}

/*about*/
/*services*/
.services {
	background-color: #f7f7f7;
}

.display-area {
	overflow-x: hidden;
}

.carousel-wrapper {
	display: flex;
}

.carousel-card {
	/* height: 200px; */
	/* background-color: rgba(0, 0, 0, 0.4); */
	/* color: white; */
	/* font-size: 40px; */
	/* margin: 10px; */
	flex: 200px 0 0;
}

/*gallery*/
.gallery-img {
	width: 100%;
	height: 100%;
	object-fit: fill;
}

/*blog*/
.blog {
	background-color: #f7f7f7;
}

.blog .alternate-background {
	background-image: url('../images/Rectangle\ 13.svg');
	/* background-size: 100% 100%; */
	color: #ffffff;
}

.blog .card-button {
	background-color: #f96f00;
	color: #ffffff;
	font-weight: 600;
}

.blog #web-blog {
	display: none;
}

.blog .card-title {
	font-weight: 400;
}

.blog .blog-comments {
	color: #797979;
}

/* .blog .alternate-background .card-text {
	color: #ffffff;
} */

/*contact*/
.contact {
	/* background-color: #e5e5e5; */
	padding-top: 4rem;
	padding-bottom: 3rem;
}

.contact .contact-note {
	padding-right: 3.5rem;
}

.contact .bold-text {
	font-weight: 500;
}

.contact .form-row input,
.contact .form-row textarea {
	border-color: #797979;
}

.contact .form-row input::placeholder,
.contact .form-row textarea::placeholder {
	/* font-size: 0.9rem; */
	color: #797979;
}

.contact .contact-button {
	background-color: #f96f00;
	color: #ffffff;
	font-weight: 600;
}

/*footer*/
.footer {
	background-color: #171717;
	color: #ffffff;
	font-weight: 300;
}

.footer #web-footer {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.footer .social-media-link {
	color: #ffffff;
}

.footer .color-orange {
	color: #f96f00;
}

.footer .copyright {
	font-size: 0.75rem;
}

.footer .footer-p {
	font-size: 0.8rem;
	font-weight: 300;
}

.footer .bold {
	font-weight: 500;
}

#mobile-footer {
	display: none;
}

@media screen and (max-width: 992px) and (min-width: 768px) {
	.jumbotron-custom {
		background-size: cover;
		background-position: center;
	}

	#mobile-footer {
		display: none;
	}

	.blog .web-blog-post {
		display: none;
	}
}

@media screen and (max-width: 768px) and (min-width: 576px) {
	.jumbotron-custom {
		background-size: cover;
		background-position: center;
	}

	#mobile-footer {
		display: block;
	}

	#web-footer,
	#web-about,
	.blog .web-blog-post {
		display: none;
	}
}

@media screen and (max-width: 576px) {
	.jumbotron-custom {
		background-size: cover;
		background-position: 40% 30%;
	}

	.header-text {
		color: #ffffff;
		justify-content: left;
		padding-top: 3rem;
	}

	.header-text h1 {
		width: 60%;
		padding-top: 0;
		font-size: 2.75rem;
		text-align: left;
	}

	#mobile-footer {
		display: block;
	}

	#web-footer,
	#web-contact,
	#web-about {
		display: none;
	}

	.blog .web-blog {
		display: none;
	}

	.blog .web-blog-post {
		display: none;
	}
}
