@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

.body {
	font-family: 'Montserrat', sans-serif;
}

.section-heading {
	color: #f96f00;
	font-size: 1.5rem;
	font-weight: 400;
}

/* header */
.header {
	background-image: url('../images/Rectangle\ 112.png');
	background-size: 100% 100%;
	min-height: 100vh;
	background-repeat: no-repeat;
}
.navbar-custom {
	/* background-color: #0080c4; */
	color: #ffffff;
	top: 0;
	position: -webkit-sticky;
	position: sticky;
	/* z-index: 10; */
}
.hero {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 18rem;
}

.header-text {
	color: #ffffff;
	/* color: #ffffff;
	display: flex;
	justify-content: center; */
	/* align-items: center; */
}

.header-text h1 {
	text-align: center;
}
/*navbar*/
.navbar custom .nav-link {
	color: #ffffff;
}

/*about*/
/*services*/
.services {
	background-color: #f7f7f7;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.services-image {
	position: relative;
}
.services-image-overlay {
	width: min-content;
	color: #ffffff;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: 300;
}
.services-image-overlay .overlay-orange {
	color: #f96f00;
}

.slick-slider .slick-dots {
	padding: 0;
	text-align: center;
	position: absolute;
	bottom: -10;
	right: 0.5px;
	width: 100%;
	z-index: 10;
}
.slick-slider .slick-dots li {
	list-style: none;
	width: 10px;
	height: 10px;
	border: 1px solid #5b5b5b;
	border-radius: 50%;
	display: inline-block;
	margin: 0 2px;
}
.slick-slider .slick-dots li.slick-active {
	background-color: #f96f00;
	border: #f96f00;
}
.slick-slider .slick-dots li:active,
.slick-slider .slick-dots li:hover {
	background-color: #f96f00;
}

.slick-slider .slick-dots li button {
	display: none;
}

/*gallery*/
.gallery-img {
	width: 100%;
	height: 100%;
	object-fit: fill;
}

.gallery #web-gallery a {
	color: #797979;
}

/*blog*/
.blog {
	background-color: #f7f7f7;
}

.blog .alternate-background {
	background-image: url('../images/Rectangle\ 13.svg');
	/* background-size: 100% 100%; */
	color: #ffffff;
}

.blog .card-button {
	background-color: #f96f00;
	color: #ffffff;
	font-weight: 600;
}

.blog #web-blog {
	display: none;
}

.blog .card-title {
	font-weight: 400;
}

.blog .blog-comments {
	color: #797979;
}

/* .blog .alternate-background .card-text {
	color: #ffffff;
} */

/*contact*/
.contact {
	/* background-color: #e5e5e5; */
	padding-top: 4rem;
	padding-bottom: 3rem;
}

.contact .contact-note {
	padding-right: 3.5rem;
}

.contact .bold-text {
	font-weight: 500;
}

.contact .form-row input,
.contact .form-row textarea {
	border-color: #797979;
}

.contact .form-row input::placeholder,
.contact .form-row textarea::placeholder {
	/* font-size: 0.9rem; */
	color: #797979;
}

.contact .contact-button {
	background-color: #f96f00;
	color: #ffffff;
	font-weight: 600;
}

/*footer*/
.footer {
	background-color: #171717;
	color: #ffffff;
	font-weight: 300;
}

.footer #web-footer {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.footer .social-media-link {
	color: #ffffff;
}

.footer .color-orange {
	color: #f96f00;
}

.footer .copyright {
	font-size: 0.75rem;
}

.footer .footer-p {
	font-size: 0.8rem;
	font-weight: 300;
}

.footer .bold {
	font-weight: 500;
}

#mobile-footer {
	display: none;
}

@media screen and (max-width: 992px) and (min-width: 768px) {
	.header {
		background-size: cover;
		background-position: center;
	}

	#mobile-footer,
	#web-gallery,
	.blog .web-blog-post {
		display: none;
	}
}

@media screen and (max-width: 768px) and (min-width: 576px) {
	.header {
		background-size: cover;
		background-position: center;
	}

	/* .header-text {
		color: #ffffff;
		justify-content: left;
		padding-top: 3rem;
	}
	.header-text h1 {
		width: 60%;
		padding-top: 0;
		font-size: 2.75rem;
		text-align: left;
	} */

	#mobile-footer {
		display: block;
	}

	#web-footer,
	#web-about,
	#web-gallery,
	.blog .web-blog-post,
	.gallery .web-gallery-image,
	#web-social-media-nav {
		display: none;
	}

	/* .services .services-image-wrapper {
		width: 50%;
		margin-left: auto;
		margin-right: auto;
	} */
}

@media screen and (max-width: 576px) {
	.header {
		background-size: cover;
		background-position: 40% 30%;
	}
	.hero {
		width: 60%;
		align-items: start;
		justify-content: start;
	}

	.header-text {
		color: #ffffff;
		padding-top: 3rem;
	}

	.header-text h1 {
		font-size: 2.75rem;
		text-align: left;
	}

	#mobile-footer {
		display: block;
	}

	#web-footer,
	#web-contact,
	#web-about,
	#web-gallery,
	.blog .web-blog,
	.blog .web-blog-post,
	.gallery .web-gallery-image,
	#web-social-media-nav {
		display: none;
	}
}
